body{
	background: #f9f3f3;
	color: rgb(60, 60, 60);
	font-family: 'PT Serif', serif;
	font-weight: lighter;
}


.btn-pink{
	padding-right: 22px;
	padding-left: 22px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-radius: 5px;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	font-size: 120%;
	color: rgb(116, 95, 120);
	background-color: #fdcfdf;
	transition: color 0.10s ease;
}

.btn-pink:hover{
	color: white;
	background-color: #fca3cc
}

@media (min-width: 1100px){
	.btn-pink{
		padding-right: 4%;
		padding-left: 4%;
		
	}
}
h1, h2{
	font-family: 'Open Sans', sans-serif;
	color: rgb(50, 50, 50);
}
h1{
	font-weight: 600;
	letter-spacing: 1px;
}

h2{
	color: #ffaec0;
	letter-spacing: 3px;
}

img {
	width: 17%;
}

@media (max-width: 1250px) {
	img{
		width: 145px
	}
}




p1{
	font-size: 85%;
}



#brain{
	border-radius: 50%;
	box-shadow: 2px 2px 2px pink;
}

#profile{
	border: 1px solid grey;
	border-radius: 2%;
}

div div{
    background: white;
    padding: 60px;
    margin: 50px;
    box-shadow: 0px 15px 35px rgb(50 50 93 / 13%);
    border-radius: 5px;
    text-align: center;
}

@media(min-width: 800px){
	div div{
		margin-right:10%;
		margin-left: 10%;
	}

}

.subtitle-grey{
	color: rgb(113, 113, 113);
}

.list-inline{
	list-style: none;
	padding-left: 0px;
}

.list-inline i{
	font-size: 50px;
	color: #fdcfdf;
}

.list-inline li{
	display: inline-block;
	padding: 10px;
}

.list-inline i:hover{
	color: #fca3cc;
}

#introduction p {
	margin-bottom: 23px;
}
